<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
    <div class="logo" th:fragment="logo">
        <h4><a href="/"><strong>K</strong>Bank</a></h4>
    </div>
        <nav id="sidebar" class="sidebar nav-collapse collapse" th:fragment="sidebar">
            <ul id="side-nav" class="side-nav">
                <li class="active">
                    <a href="/dashboard"><i class="fa fa-home"></i> <span class="name">Dashboard</span></a>
                </li>


                <li class="visible-xs">
                    <a href="javascript:logout()"><i class="fa fa-sign-out"></i> <span class="name" th:text="#{menu.signout}">Sign Out</span></a>
                </li>
            </ul>
        </nav>
        
        
        <header class="page-header" th:fragment="header">
            <div class="navbar">
                <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="visible-phone-landscape">
                        <a href="#" id="search-toggle">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                    <li class="dropdown" style="display: none;">
                        <a href="#" title="Messages" id="messages"
                           class="dropdown-toggle"
                           data-toggle="dropdown">
                            <i class="glyphicon glyphicon-comment"></i>
                        </a>
                        <ul id="messages-menu" class="dropdown-menu messages" role="menu">
                            <li role="presentation">
                                <a href="#" class="message">
                                    <img src="img/1.png" alt=""/>
                                    <div class="details">
                                        <div class="sender">Vichai</div>
                                        <div class="text">
                                            Hey, John! How is it going? ...
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#" class="message">
                                    <img src="img/2.png" alt=""/>
                                    <div class="details">
                                        <div class="sender">Alies Rumiancaŭ</div>
                                        <div class="text">
                                            I'll definitely buy this template
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#" class="message">
                                    <img src="img/3.png" alt=""/>
                                    <div class="details">
                                        <div class="sender">Michał Rumiancaŭ</div>
                                        <div class="text">
                                            Is it really Lore ipsum? Lore ...
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#" class="text-align-center see-all">
                                    See all messages <i class="fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" title="8 support tickets"
                           class="dropdown-toggle"
                           data-toggle="dropdown">
                            <i class="glyphicon glyphicon-globe"></i>
                            <span class="count">3</span>
                        </a>
                        <ul id="support-menu" class="dropdown-menu support" role="menu">
                            <li role="presentation">
                                <a href="?lang=en" class="support-ticket">
                                    <div class="picture">
                                        <span class="label"><img src="img/us_flag.png" width="20" alt=""/></span>
                                    </div>
                                    <div class="details">
                                        English
                                    </div>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="?lang=th" class="support-ticket">
                                    <div class="picture">
                                        <span class="label"><img src="img/th_flag.png" width="20" alt=""/></span>
                                    </div>
                                    <div class="details">
                                        	ภาษาไทย
                                    </div>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="?lang=zh" class="support-ticket">
                                    <div class="picture">
                                        <span class="label"><img src="img/cn_flag.png" width="20" alt=""/></span>
                                    </div>
                                    <div class="details">
                                        	中國
                                    </div>
                                </a>
                            </li>                           
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="hidden-xs">
                        <a href="#" id="settings"
                           title="Settings"
                           data-toggle="popover"
                           data-placement="bottom">
                            <i class="glyphicon glyphicon-cog"></i>
                        </a>
                    </li>
                    <li class="hidden-xs dropdown" style="display: none;">
                        <a href="#" title="Account" id="account"
                           class="dropdown-toggle"
                           data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i>
                        </a>
                        <ul id="account-menu" class="dropdown-menu account" role="menu">
                            <li role="presentation" class="account-picture">
                                <img src="img/2.png" alt=""/>
                                Philip Daineka
                            </li>
                            <li role="presentation">
                                <a href="form_account.html" class="link">
                                    <i class="fa fa-user"></i>
                                    Profile
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="component_calendar.html" class="link">
                                    <i class="fa fa-calendar"></i>
                                    Calendar
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#" class="link">
                                    <i class="fa fa-inbox"></i>
                                    Inbox
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="visible-xs">
                        <a href="#"
                           class="btn-navbar"
                           data-toggle="collapse"
                           data-target=".sidebar"
                           title="">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                    <li class="hidden-xs"><a href="javascript:logout()"><i class="glyphicon glyphicon-off"></i></a></li>
                </ul>
                <form id="logout-form" action="/logout" method="post">
                	 <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				</form>
                <form id="search-form" class="navbar-form pull-right" role="search">
                    <input type="search" class="form-control search-query" placeholder="Search..."/>
                </form>

            </div>
        </header>     
</body>
</html>