<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidemenu" class="category-content no-padding">
	<ul class="navigation navigation-main navigation-accordion">
		<li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
		<li><a href="/dashboard"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
		<li><a href="/search"><i class="icon-search4"></i> <span>Search</span></a></li>
		<li><a href="/mq"><i class="icon-make-group"></i> <span>MQ</span></a></li>
		<li><a href="/socketpcb"><i class="icon-cash3"></i> <span>PCB</span></a></li>
		<li><a href="#" class="has-ul"><i class="icon-wrench"></i> <span>Tools</span></a>
			<ul class="hidden-ul" style="display: block;">
				<li><a href="/sem"><i class="icon-file-text"></i>SEM</a></li>
				<li><a href="/vdolog"><i class="icon-file-text"></i>VDOLOG</a></li>
				<li><a href="/pcb"><i class="icon-file-text"></i>PCB</a></li>
			</ul></li>
	</ul>
</div>
</html>